@media screen and (min-width: 60em) {
    .tc-l {
        text-align: center;
    }
}

li {
	list-style: none;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

/*		Nav 	*/

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 150px;
	width: 400px;
}

nav {
	color: white
}

hr {
	width: 130px;
	border: 2px solid lightgrey;
}

/*		Main Title 	*/

.main-title {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.titleimg1 {
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: center;
	align-self: center;
	height: 250px;
	width: 250px;		
}

.titleimg2 {
	grid-row-start: 1;
	grid-column-start: 3;
	justify-self: center;
	align-self: center;
	height: 250px;
	width: 250px;
}

.t1 {
	grid-column-start: 2;
}

.t2 {
	grid-column-start: 2;
	margin-bottom: 5px;
}

/* 		About Us 	*/

.about-text {
	margin-right: 50px;
	margin-left: 50px;
	line-height: 27px;
}

/* 		Why Us Text 	*/

.why-text {
	margin-right: 50px;
	margin-left: 50px;
	line-height: 27px;
}

/*		Main Imagess */

.images {
	background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.img1 {
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: center;
	align-self: center;
}

.img2 {
	grid-row-start: 1;
	grid-column-start: 2;
	justify-self: center;
	align-self: center;
}

.img3 {
	grid-row-start: 1;
	grid-column-start: 3;
	justify-self: center;
	align-self: center;
}

/* 		Reviews 	*/

.reviews-ctn {
	height: 150px;
	width: auto;
	background-color: blue;
}

/*		Map Ctn 	*/

.map-ctn {
	height: 400px;
	width: auto;
	background-color: lightblue;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
	grid-template-rows: repeat(4, 1fr);
}

.mptitle {
	grid-column-start: 2;
	grid-row-start: 1;
}

.nummain{
	grid-column-start: 2;
	grid-row-start: 2;
	/*justify-self: center;*/
	padding-left: 10px;

}

.n1 {
	grid-column-start: 2;
	/*justify-self: center;*/
	align-self: center;
	padding-left: 10px;
}

.n2 {
	grid-column-start: 2;
	/*justify-self: center;*/
	align-self: center;
	padding-left: 10px;
}

.n3 {
	grid-column-start: 2;
	/*justify-self: center;*/
	align-self: center;
	padding-left: 10px;
}

.n4 {
	grid-column-start: 2;
	/*justify-self: center;*/
	align-self: center;
	padding-left: 10px;
}

.addressmain {
	grid-column-start: 1;
	grid-row-start: 2;
	align-self: center;
}

.address {
	grid-column-start: 1;
	grid-row: 3 / 6;
/*	justify-self: center;
*/	/*align-self: center;*/
}

.map-ctn {
	height: 350px;
	grid-column-start: 3;
	grid-row: 1 / 4;
	grid-row-start:;
}

/*		Footer 		*/

.lnk-container {
	background-image: linear-gradient(-80deg, #ff5858 0%, #f09819 100%);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.mb-ctn {
	margin-bottom: -16px;
}

.galinks {
	grid-row-start: 1;
	grid-column-start: 2;
	justify-self: center;
	align-self: center;
}

.ulinks {
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: center;
	align-self: center;
}

.footerimg {
	grid-column-start: 3;
	grid-row-start: 1;
	justify-self: center;
	align-self: center;
}

footer {
	background-color: #333333;
}

