/* IMPORTS  */



/* CORE CSS  */

html {
    height: 100%;
}

body {
    min-height: 100vh;
    padding: 0 auto;
    margin: 0 auto;
    height: calc(100vh - 90px);
    font-size: 16px;
    box-sizing: border-box;
}

/* TOP HEADER  */

.title-container {
    height: 6rem;
}

.title-row {
    padding-top: 1.5rem;
}

/* HOME PAGE  */

.home-slider {
    height: 25rem;
    background-color: aqua;
}

.txt-container {
    height: 25rem;
}

.home-txt {
    height: 13rem;
    background-color: blueviolet;
}

.award-container {
    background-color: greenyellow;
    height: 10.6rem;
}

.testimonial-container {
    height: 13rem;
    min-width: 100%;
}

.review-img {
    background-color: aquamarine;
    height: 13rem;
}

.review-txt {
    background-color: orange;
    height: 13rem;
}

/* FOOTER  */

.footer-container{
    margin-top: 6rem;
    background-color: rgb(123, 74, 74);
    height: 14rem;
}

.footer-block{
    height: 0.3rem;
    background-color: orangered;
}