/* IMPORTS  */



/* CORE CSS  */

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0 auto;
    margin: 0 auto;
    height: calc(100vh - 90px);
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f7f7f7;;
}

/* HELPER CLASSES  */

.social-icon {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.social-icon:hover{
    color: rgb(0, 192, 192);
}

.top-container {
    margin-top: 3.5rem;
}

.text-black {
    font-size: 20px;
    color: black !important;
}

.f-bold {
    font-weight: bold;
}

/* BUTTONS */

.btn-secondary {
    border: 1px solid rgb(32, 32, 32);
    color: white;
    background-color: #444544;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    border: 1px solid black;
    background-color: #10a4ff;
    color: white !important;
}

.btn-base {
    border: 1px solid rgb(32, 32, 32);
    color: white;
    background-color: #10a4ff;
}

.btn-base:hover,
.btn-base:active,
.btn-base:focus {
    border: 1px solid black;
    background-color: #444544;
    color: white !important;
}

.btn-intensive {
    padding: 1.2rem;
    font-size: 21px;
    font-weight: bolder;
    color: white;
    background-color: #04416a;
}

.btn-intensive:hover,
.btn-intensive:focus,
.btn-intensive:active {
    background-color: #444544;
    color: white;
}

/* TOP HEADER  */

.title-container {
    height: 6rem;
    max-width: 100%;
    background-color: #004c4c;
    color: white;
}

.title-row {
    padding-top: 1.5rem;
}

/* FOOTER  */

.footer-container{
    margin-top: 6rem;
    background-color: rgb(123, 74, 74);
    height: 16.4rem;
}

.footer-block{
    height: 0.3rem;
    background-color: orangered;
}

.copy-container {
    margin-top: 2rem;
    height: 1.6rem;
    background-color: pink;
}

.f-link {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
 }

 .f-link:hover {
    color: #55adbe;
 }
 
.usefull-links {
    list-style: none;
}

.usefull-txt {
    font-size: 16px;
}

/* HOME PAGE  */

.home-slider {
    height: 25rem;
    background-color: aqua;
}

.txt-container {
    height: 25rem;
}

.home-txt {
    height: 13rem;
    background-color: blueviolet;
}

.award-container {
    background-color: greenyellow;
    height: 10.6rem;
}

.testimonial-container {
    height: 13rem;
    min-width: 100%;
}

.review-img {
    background-color: aquamarine;
    height: 13rem;
}

.review-txt {
    background-color: orange;
    height: 13rem;
}

/* CONTACT PAGE  */

.contact-img {
    height: 15rem;
    background-color: pink;
}

/* PRICING PAGE  */

.p-card {
    width: 20rem;
    height: 30rem;
    background-color: #04416a;
    color: rgb(241, 240, 240);
}

.card-txt {
    size: 10rem;
}

.card-hr {
    width: 50%;
    height: 1.4rem;
    background-color: blue;
    text-align: center;
}

.card-line {
    border-bottom: 1px solid black;
    margin-left: 25%;
}

.pricing-txt {
    height: 16rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-wrap: balance;
    font-size: 18px;
}

.card-container {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* TOASTS */

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.message-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* MEDIA QUERY */