{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container top-container">
        <h4 class="mb-5 text-center">Get in touch with us today to start your driving journey</h4>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <form method="POST" class="form" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="">
                            <label class="fieldset-label f-bold text-black mb-2">Your Details:</label>
                            {{ form.name | as_crispy_field }}
                            {{ form.email | as_crispy_field }}
                            {{ form.number | as_crispy_field }}
                            {{ form.location | as_crispy_field }}
                            <label class="fieldset-label small text-muted mb-2">How did you find out about us?</label>
                            {{ form.information | as_crispy_field }}
                        </fieldset>
                        <fieldset class="">
                            <label class="fieldset-label f-bold text-black mb-2">Preferences:</label><br>
                            <label class="fieldset-label small text-muted mb-2">What transmission do you want to learn?</label>
                            {{ form.gearbox | as_crispy_field }}
                            {{ form.message | as_crispy_field }}
                        </fieldset>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-base">Send Your Message  <i class="ps-1 fas fa-chevron-right"></i></button>
                            </div>
                            <div class="col-6">
                                <input class="form-check-input" name="send-copy" id="sendCopy" type="checkbox">
                                <label for="sendCopy" class="form-check-label ps-2">Send me a copy</label> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 text-center">
                    <div class="contact-img mb-5">
                        <img class="" src="" alt="">
                    </div>
                    <p>For more information, please feel free to contact us 
                        using our contact form.<br> Or please feel free to give us a call. 
                        We look forward to hearing from you soon.</p>
                        <div class="mb-3 mt-3">
                            <a href="" class="" rel="opener" aria-label="Opens Our Facebook"><i class="social-icon ms-2 me-2 bi bi-facebook"></i></a>
                            <a href="" class="" rel="opener" aria-label="Opens Our Twitter"><i class="social-icon ms-2 me-2 bi bi-twitter"></i></a>
                            <a href="" class="" rel="opener" aria-label="Opens Our Instagram"><i class="social-icon ms-2 me-2 bi bi-instagram"></i></a>
                            <a href="" class="" rel="opener" aria-label="Opens Our Youtube"><i class="social-icon ms-2 me-2 bi bi-youtube"></i></a>
                        </div>
                    <p>Contact us on:</p>
                        <p><i class="bi bi-telephone-fill"></i> 01297863762</p>
                    <p>Email Us:</p>
                        <p><i class="bi bi-envelope-fill"></i> Contact@dedhamvaledriving.com</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}