{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pt-4">
    <div class="row">
        <div class="home-slider col-6">
            Slider 
        </div>
        <div class="home-txt ms-4 col-5">
                <div class="home-txt col-12 align-self-start"></div>
                <div class="award-container col-12 align-self-end mt-4"></div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row testimonial-container">
        <div class="col-6">
            <div class="col-2 review-img">IMAGE</div>
            <div class="col-4 review-txt">TEXT</div>
        </div>
        <div class="col-6">
            <div class="col-4 review-txt">TEXT</div>
            <div class="col-2 review-img">IMAGE</div>
        </div>
    </div>
</div>
{% endblock %}