{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pt-4">
    <div class="row">
        <div class="home-slider col-6">
            Slider 
        </div>
        <div class="txt-container col-5">
            <div class="home-txt col-md-12 offset-md-2 align-self-start">
                <p>Dedham Vale Driving School was established in 1988. Our 
                    driving school offers a full range of driving lessons 
                    in Colchester, Clacton, Ipswich and the surrounding 
                    villages. Our driving instructors offer weekly driving 
                    lessons in both manual and automatic cars.

                    We also specialize in intensive driving courses and provide
                     residential driving courses in Colchester and Clacton. 
                     In addition, our instructors can offer motorway driving 
                     lessons, the Pass Plus course, and refresher driving 
                     lessons.
                    
                    Our driving school has also been rated in the top three 
                    driving schools in Colchester since 2016!</p>
            </div>
            <div class="award-container col-md-12 offset-md-2 align-self-end mt-4">Awards section/slider</div>
        </div>
    </div>
    <div class="mt-5 row testimonial-container">
        <div class="col-6">
            <div class="row">
                <div class="col-3 me-2 justify-content-start review-img">IMAGE</div>
                <div class="col-7 justify-content-end review-txt">TEXT</div>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-end me-3">
                <div class="col-7 justify-content-end review-txt">TEXT</div>
                <div class="col-3 ms-2 justify-content-start review-img">IMAGE</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}