{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                Why choose us for your automatic driving lessons?
            </p>
            <p class="weekly-text text-center">
                When you decide to have automatic driving lessons 
                it's important to choose the right driving school.  
                At Dedham Vale Driving School we have Garry, Rick and 
                Kieran who are experienced driving instructors and have 
                taught people to drive in automatic cars for many years.  
                They are DBS checked and are fully qualified Approved Driving 
                Instructors. (DSA ADI).
            </p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">Weekly automatic driving lessons
            </p>
            <p class="weekly-text text-center">
                Weekly driving lessons are a great way of learning to drive. 
                Garry, Rick and Kieran offer two hour lessons usually but can 
                also offer one or one and a half hour lessons depending on your 
                circumstances.
                Alternatively, you may wish to increase the number of driving 
                lessons per week. You will receive high quality driving 
                instruction on a one to one basis.
            </p>
            <p class="weekly-text text-center">
                During your automatic driving lessons in <span class="f-bold"> Colchester, 
                Clacton and Ipswich</span> Garry, Rick and Kieran will usually
                 perform at least one mock test. This will make sure you are 
                 fully prepared and therefore give you the best chance of 
                 passing your driving test 1st time.
            </p>
        </div>
    </div>
</div>
{% endblock %}
