{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                What Is An Intensive Driving Course?
            </p>
            <p class="weekly-text text-center">
                An intensive driving course in Colchester or 
                Clacton is ideal for someone who wants to obtain 
                a full driving licence in a short amount of time. 
                It involves you driving daily with the same driving 
                instructor. Before booking your driving test you will 
                need to pass your theory test. We use an app called Theory 
                Test Pro to help you practice. If you want you can book your 
                own theory test and driving test or we can book them for you. 
                You will normally have between three to five hours of driving 
                each day. This might sound like a lot of driving but your 
                instructor will spread the lessons out over each day to avoid 
                lack of concentration due to tiredness. On the final day of 
                your intensive course, you will take your driving test.
            </p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row mt-4">
        <div class="col-6"></div>
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                How Many Hours Will I Need?
            </p>
            <p class="weekly-text text-center">
                We offer intensive driving courses ranging 
                from 10 hours to 45 hours depending on your previous 
                experience and ability. With so many intensive courses 
                to choose from it can be hard to decide on which course 
                suits your particular needs.
            </p>
            <p class="weekly-text text-center">
                For someone who has never driven a car before or 
                has only limited experience then it would be most 
                likely you would be looking to book a 45 hour intensive 
                driving course. If you are close to test standard or 
                recently failed a driving test then a 10 hour course would 
                most likely suit you.
            </p>
            <p class="weekly-text text-center">
                It can be hard to decide on which intensive driving 
                course suits your particular needs so your instructors 
                will take you out for a 2 hour assessment in either 
                <span class="f-bold"> Colchester or Clacton.</span>
            </p>
            <p class="weekly-text text-center">
                During the assessment your instructor will be able to
                 guide you towards a course that is perfect for you.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                Is An Intensive Driving Course Right For Me?
            </p>
            <p class="weekly-text text-center">
                An intensive driving course doesn't suit everyone 
                because of the short timescale involved. Some people 
                may find it overwhelming thinking that in just a few 
                days they will be taking a driving test.
            </p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row mt-4">
        <div class="col-6"></div>
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                How many hours will I drive each day?
            </p>
            <p class="weekly-text text-center">
                The hours you drive is up to you. We would recommend 
                a minimum of 2 hours per day to a maximum of 5 hours per day.
            </p>
            <p class="weekly-text text-center">
                The course can be completed over a couple of days to around 
                a month for a complete beginner completing 2 hours per day 
                Monday to Friday.
            </p>
        </div>
    </div>
    <div class="container mt-5 ms-5 card-container auto">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="card p-card shadow">
                        <h3 class="card-title mt-4 text-center">Ten Hour Block</h3>
                        <small class="text-center mb-2">(Most Popular)</small>
                        <h3 class="text-center">£ 370.00</h3>
                        <div class="card-body text-center">
                        <p class="card-body card-txt">Automatic</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Standard Pricing</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                        <p class="card-line w-50"></p>
                        <a class="btn btn-secondary" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card p-card shadow">
                        <h3 class="card-title mt-4 text-center">Ten Hour Block</h3>
                        <small class="text-center mb-2">(Most Popular)</small>
                        <h3 class="text-center">£ 370.00</h3>
                        <div class="card-body text-center">
                        <p class="card-body card-txt">Automatic</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Standard Pricing</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                        <p class="card-line w-50"></p>
                        <a class="btn btn-secondary" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card p-card shadow">
                        <h3 class="card-title mt-4 text-center">Ten Hour Block</h3>
                        <small class="text-center mb-2">(Most Popular)</small>
                        <h3 class="text-center">£ 370.00</h3>
                        <div class="card-body text-center">
                        <p class="card-body card-txt">Automatic</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Standard Pricing</p>
                        <p class="card-line w-50"></p>
                        <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                        <p class="card-line w-50"></p>
                        <a class="btn btn-secondary" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

