{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container top-container">
        <div class="row">
            <div class="col-12">
                <h2 class="f-bold">Lesson Pricing</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-7 pricing-txt">
                <p>At DVDS our driving lesson prices are very competitive. 
                    We offer the option to pay for your driving lessons on a 
                    weekly basis, or if you would rather pay for a block booking 
                    of 10 hours or more this can be done at a discounted rate.
                </p>
                <p>
                    When choosing a driving school we offer high-quality driving 
                    lessons at affordable prices. If you would like to purchase 
                    a gift voucher this can be for any amount. To pay for block 
                    payments/gift vouchers we accept cash/BACS directly to the instructor
                    or if you would prefer you can pay via BACS to the office.<br>
                </p>
                <p>
                    Please call for the office bank details.  We can book your Theory Test and 
                    Driving Test for you at no extra cost.

                    Please note that gift vouchers and block payments are valid for one 
                    year from the purchase date.
                </p>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="card-container">
            <div class="col-12 ms-5 manual">
                <div class="row">
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">One Hour</h3>
                            <small class="text-center mb-2"></small>
                            <h3 class="text-center">£ 37.00 Per Hour</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Manual</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Standard Pricing</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">Ten Hour Block</h3>
                            <small class="text-center mb-2">(Most Popular)</small>
                            <h3 class="text-center">£ 350.00</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Manual</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Standard Pricing</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">Refresher Lessons</h3>
                            <small class="text-center mb-2"></small>
                            <h3 class="text-center">£ 42.00 Per Hour</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Manual</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">2-3 Hour Minimum</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Gain More Confidence in driving</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 ms-5 mt-5 auto">
                <div class="row">
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">One Hour</h3>
                            <small class="text-center mb-2"></small>
                            <h3 class="text-center">£ 39.50 Per Hour</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Automatic</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Standard Pricing</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">Ten Hour Block</h3>
                            <small class="text-center mb-2">(Most Popular)</small>
                            <h3 class="text-center">£ 370.00</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Automatic</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Standard Pricing</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">Refresher Lessons</h3>
                            <small class="text-center mb-2"></small>
                            <h3 class="text-center">£ 44.00 Per Hour</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Automatic</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">2-3 Hour Minimum</p>
                              <p class="card-line w-50"></p>
                              <p class="card-body card-txt">Gain More Confidence in driving</p>
                              <p class="card-line w-50"></p>
                              <a class="btn btn-standard" href="{% url 'contact' %}" rel="opener" aria-label="Opens contact page">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-12 mt-5">
                <a class="btn btn-success" href="{% url 'intensive' %}" rel="opener" aria-label="Opens the contact page">Intensive Lesson Rates</a>
            </div>
    </div>
{% endblock %}