{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container top-container">
        <div class="row">
            <div class="col-12"></div>
        </div>
        <div class="card-container">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="card p-card">
                            <h3 class="card-title mt-4 text-center">One Hour</h3>
                            <h3 class="text-center">£ 37.00</h3>
                            <div class="card-body text-center">
                              <p class="card-body card-txt">Manual</p>
                              
                              <p class="card-body card-txt">Standard Pricing</p>
                              <p class="card-body card-txt">Unlimited use of Theory Test Pro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h4 class="card-title">Ten Hour Block</h4>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-card">
                            <h4 class="card-title">Refresher Lesson</h4>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}