{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                Why choose us for your driving lessons in <span class="f-bold">Colchester, Ipswich or Clacton</span>
            </p>
            <p class="weekly-text text-center">
                When you decide to have driving lessons in Colchester, Ipswich and Clacton 
                it's important to choose the right driving school. At Dedham Vale Driving 
                School we have many driving instructors who are experienced and have taught 
                people to drive in these areas for many years. They are all DBS checked and 
                are fully qualified Approved Driving Instructors. (DSA ADI).
            </p>
            <p class="weekly-text text-center">
                We also offer instructor training in Colchester and Clacton. 
                You will NOT be asked to sign any contracts before, during or once 
                you have qualified as an Approved Driving Instructor (ADI)
            </p>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-base" href="" rel="opener" aria-label="">Meet The Team <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            IMAGE
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            IMAGE
        </div>
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">Weekly Driving Lessons</p>
            <p class="weekly-text text-center">
                Weekly driving lessons are a great way of learning to drive. 
                Our driving instructors offer hourly driving lessons, one and a half 
                or two hour blocks. Alternatively, you may wish to increase the number 
                of driving lessons per week. You will receive high quality driving instruction 
                on a one to one basis.
            </p>
            <p class="weekly-text text-center">
                During your driving lessons in Colchester, Ipswich and Clacton your 
                instructor will usually perform at least one mock test. This will make 
                sure you are fully prepared and therefore give you the best chance of passing 
                your driving test 1st time.
            </p>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="" class="btn btn-base" rel="opener" aria-label="">Our Pricing <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 weekly-card">
            <p class="weekly-header text-center">
                Intensive Courses
            </p>
            <p class="weekly-text text-center">
                An intensive driving course doesn't suit everyone because of the short 
                timescale involved. Some people may find it overwhelming thinking that 
                in just a few days they will be taking a driving test. For this reason, 
                your instructor will take you out for a two hour assessment in Colchester. 
                During the assessment, the driving instructor will advise you on the number 
                of hours you will need to reach test standard and also your suitability for an 
                intensive driving course.
            </p>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="" class="btn btn-base" rel="opener" aria-label="">Intensive Courses <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            IMAGE
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <p class="text-center location-header">Colchester</p>
            <p class="text-center">Our Colchester based instructors cover a large area of 
                North Essex. <br><br> Your driving instructor will pick students up from 
                <span class="f-bold">Home</span> as well as from <span class="f-bold"> Colchester 6th Form, 
                Colchester Royal Grammer School, Colchester County High School for Girls and Philip Morant School and College.</span>
            </p>
        </div>
        <div class="col-4">
            <p class="text-center location-header">Ipswich</p>
            <p class="text-center">
                Caroline and John cover a wide area of Suffolk. <br><br> They pick up and drop off 
                students from <span class="f-bold">Home</span> as well as <span class="f-bold"> Suffolk One, The Royal Hospital School, The 
                Ipswich High School and Ipswich University.</span>
            </p>
            <p class="text-center">
                They also both cover North Essex including the <span class="f-bold"> Dedham, Manningtree areas and 
                of course Colchester.</span>
            </p>
        </div>
        <div class="col-4">
            <p class="text-center location-header">Clacton</p>
            <p class="text-center">
                Our Clacton based instructors cover a large area of North Essex.<br><br>
                Your driving instructor will pick students up from <span class="f-bold">Home</span>
                 as well as from <span class="f-bold"> Clacton County High School, Clacton Coastal Academy, and Tendring 
                Technology College.</span>
            </p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-muted">
                    If you are unsure about where we cover in your area. 
                    Please send us an email and we will let you know.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
